.DS_Store
.vs/
MyShop/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
MyShop/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
MyShop/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
MyShop/bin/Debug/net6.0/Newtonsoft.Json.dll
